<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>icloudNotes-macOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7450A3C11D1F0A3700F07609</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7450A3D21D1F0A3700F07609</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7450A3DD1D1F0A3800F07609</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
