<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>icloudNotes-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7450A3F81D1F0A6800F07609</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7450A40C1D1F0A6800F07609</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7450A4171D1F0A6800F07609</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
